form.searchbox input[type=text] {
    color: #000000;
    height: 30px;
    padding: 5px;
    font-size: 12px;
    float: left;
    width: 90%;
    border: 1px solid #CCCCCC;
    border-radius: 10px 0px 0px 10px;
    border-radius: 5px;
    text-align:left;
}

form.searchbox button {
    height: 30px;
    float: left;
    width: 20%;
    padding: 5px;
    background: #c6c9ce;
    color: #1e1e1e;
    font-size: 12px;
    border: none;
    cursor: pointer;
    border: 1px solid #1e1e1e;
    border-radius: 0px 10px 10px 0px;
    text-align: center;
    line-height: 10px;
    margin: auto;
}

form.searchbox button:hover {
    background: #0b7dda;
    transition: background 0.2s;
}

form.searchbox::after {
    content: "";
    clear: both;
    display: table;
}

.resultlist {
    top: -20px;
    height: 57%;
    background: #DCDCDC;  
    color: #555;
    width: 90%;
    margin: 0 auto; /* 居中对齐 */
}

.resultlist * {
    margin: 2px;
}

.resulttitle {
    color: #000000;
    font-size: 1em;
}

#info {
    opacity: 1;
    transition: opacity 0.4s;
}

.fc {
    text-align: center;
}

.title {
    max-width: 45%;
}

.tr {
    text-align: right
}

mark {
    background-color: #0b7dda;
    border-radius: 4px;
    color: #fff;
    margin: 0;
}

.showbox {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin: 2px !important
}

.page-header {
    font-family:inherit;
    padding-top: 20px; /* 设置顶部内边距为20像素 */
    padding-bottom: 15px; /* 块下部的距离 */
    border-bottom: 1px solid #eee;
    color: #2e405b; /* 文字颜色 */
    width: 90%; /* 宽度为屏幕的90% */
    margin: 0 auto; /* 在屏幕中水平居中 */
    text-align: left; /* 文本左对齐 */
}

.page-header h1 {
    font-weight: 300; /* 设置字体粗细为较细 */
}

.search-input {
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}